<!--<ng-adsense></ng-adsense>-->

<h2>Itens</h2>

<app-filter-field [searchableFields]="searchableFields" [selectedField]="searchColumn" [term]="searchTerm" (searchChange)="search($event)"></app-filter-field>

<mat-form-field appearance="outline">
  <mat-icon matPrefix>sort</mat-icon>
  <mat-label>Ordenar por</mat-label>
  <mat-select [(ngModel)]="sort" (valueChange)="sortChange($event)">
    <mat-option value="-description">Descrição</mat-option>
    <mat-option value="createdAt">Último cadastrado</mat-option>
    <mat-option value="year">Ano de publicação</mat-option>
  </mat-select>
</mat-form-field>

<div class="list-container">
  <mat-accordion multi>
    <app-item-expansion-panel [data]="paginatedData.data" (selectToSearch)="search($event)"></app-item-expansion-panel>
  </mat-accordion>

  <app-paginator [paginatedData]="paginatedData" (change)="changePage($event)"></app-paginator>

  <div *ngIf="loading" class="loading">
    <p>Carregando seus items...</p>
    <mat-spinner class="spinner" diameter="50" mode="indeterminate"></mat-spinner>
  </div>
</div>

<a mat-fab aria-label="Criar novo item" class="btn-new" [routerLink]="'new'">
  <mat-icon>add</mat-icon>
</a>
