.panel-content {
  display: flex;
  flex-direction: column;

  .panel-content-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .panel-content-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
