<mat-expansion-panel *ngFor="let item of data" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ item.description }} ({{ item.year }})</mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column">
    <span fxLayout="row nowrap" fxLayoutAlign="start center">
      <span matBadge="4" matBadgeOverlap="false">
        <mat-icon matTooltip="Local" matTooltipPosition="above">place</mat-icon>
      </span>
      <button mat-button (click)="search('location', item.location.description)">
        {{ item.location.description }}
      </button>
    </span>
    <span fxLayout="row nowrap" fxLayoutAlign="start center">
      <mat-icon matTooltip="Autor(es)" matTooltipPosition="above">people</mat-icon>
      <button mat-button *ngFor="let author of item.authors" (click)="search('authors', author.name)">
        {{ author.name }}
      </button>
    </span>
    <span fxLayout="row nowrap" fxLayoutAlign="start center">
      <mat-icon matTooltip="Gênero(s)" matTooltipPosition="above">class</mat-icon>
      <button mat-button *ngFor="let genre of item.genres" (click)="search('genres', genre.description)">
        {{ genre.description }}
      </button>
    </span>
    <span fxLayout="row nowrap" fxLayoutAlign="start center">
      <mat-icon matTooltip="Editora(s)" matTooltipPosition="above">local_library</mat-icon>
      <button mat-button *ngFor="let publisher of item.publishers" (click)="search('publishers', publisher.name)">
        {{ publisher.name }}
      </button>
    </span>
    <div fxFlex="row" fxFlexAlign="end">
      <button mat-button color="primary" [routerLink]="[item.uuid]">
        Editar
      </button>
    </div>
  </div>
</mat-expansion-panel>
